<svg display="none">
<defs>

<symbol id="ico-arrow-right" viewBox="0 0 42 42">
<path d="M13.4375 20.0676H23.6841V21.3936H13.4375V20.0676ZM22.9013 16.7998L29.3975 20.778L22.9013 24.7798V16.8116V16.7998Z" stroke="none"/>
</symbol>

<symbol id="ico-arrow-left" viewBox="0 0 42 42">
<path d="M28.5625 21.9324L18.3159 21.9324L18.3159 20.6064L28.5625 20.6064L28.5625 21.9324ZM19.0987 25.2002L12.6025 21.222L19.0987 17.2202L19.0987 25.1884L19.0987 25.2002Z" stroke="none"/>
</symbol>

<symbol id="ico-circle" viewBox="0 0 42 42">
<rect x="1" y="1" width="40" height="40" rx="20" stroke-width="2"/>
</symbol>

<symbol id="ico-status" viewBox="0 0 18 18">
<path d="M0.75 8.74512H16.75" stroke="#0C3096" stroke-width="1.5" stroke-linecap="round"/>
<path d="M8.75391 0.75L8.75391 16.75" stroke="#0C3096" stroke-width="1.5" stroke-linecap="round"/>
</symbol>

<symbol id="ico-angle-down" viewBox="0 0 17 12">
<path d="M16.1805 0.646484L8.47502 9.74347L0.761719 0.646484" fill="none" stroke-width="2" stroke-miterlimit="10"/>
</symbol>

<symbol id="ico-external" viewBox="0 0 42 42">
<path d="M17.0938 24.9399L24.3538 17.6799L25.2837 18.6099L18.0237 25.8699L17.0938 24.9399ZM21.5238 15.9499L28.9137 14.1299L27.1038 21.5299L21.5337 15.9599L21.5238 15.9499Z" stroke="none"/>
<path d="M22.16 13H14C13.4477 13 13 13.4477 13 14V28C13 28.5523 13.4477 29 14 29H28C28.5523 29 29 28.5523 29 28V23.1111" fill="none" stroke-width="1.2" stroke-miterlimit="10"/>
</symbol>

<symbol id="ico-external-sm" viewBox="0 0 13 13">
<path d="M3.52344 9.40535L8.96844 3.96035L9.66594 4.65785L4.22094 10.1029L3.52344 9.40535ZM6.84594 2.66285L12.3884 1.29785L11.0309 6.84785L6.85344 2.67035L6.84594 2.66285Z" stroke="none"/>
<path d="M7.32312 0.450195H1.20313C0.788912 0.450195 0.453125 0.785982 0.453125 1.2002V11.7002C0.453125 12.1144 0.788911 12.4502 1.20312 12.4502H11.7031C12.1173 12.4502 12.4531 12.1144 12.4531 11.7002V8.03353" fill="none" stroke-width="0.9" stroke-miterlimit="10"/>
</symbol>

</defs>
</svg>