@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.c-form-select {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.c-form-select__input {
	display: flex;
	width: 100%;
	padding: 0 40/16+rem 0 20/16+rem;
	height: 35/16+rem;
	justify-content: space-between;
	align-items: center;

	border-radius: 100/16+rem;
	border: var(--border);
	appearance: none;
	background: #FFF;
	@include config.pc {
		height: 40/16+rem;
	}
}
.c-form-select__angle {
	position: absolute;
	margin-top: 2/16+rem;
	right: 20/16+rem;
	width: 12/16+rem;
	height: auto;
	pointer-events: none;
	stroke: var(--color);
	@include config.pc {
		width: 17/16+rem;
	}
}
.c-form-btn {
	display: flex;
	width: 100%;
	height: 35/16+rem;
	padding: 0 20/16+rem;
	justify-content: center;
	align-items: center;
	gap: 30/16+rem;
	border-radius: 100/16+rem;
	border: var(--border);
	background: var(--corporate, #0C3096);

	color: #FFF;
	font-size: 12/16+rem;
	line-height: 175%; /* 21/16+rem */
	letter-spacing: 0.06em;
	&:hover {
		background: #fff;
		color: var(--color);
	}
	@include config.pc {
		height: 40/16+rem;
		font-size: 14/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/