@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	c-heading
----------------------------------------------------*/
.c-heading-section {
	@include config.pc {}
}
.c-heading-section__title {
	color: var(--title, #829CCC);
	font-size: 13/16+rem;
	font-weight: 700;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 16/16+rem;
	}
}
.c-heading-section__en {
	margin-top: 4/16+rem;
	font-family: var(--Outfit);
	font-size: 42/16+rem;
	font-weight: 600;
	line-height: 100%;
	text-transform: capitalize;
	@include config.pc {
		font-size: 80/16+rem;
	}
}
.c-heading-section__ski {
	img {
		width: 231/16+rem;
	}
	@include config.pc {
		img {
			width: 460/16+rem;
		}
	}
}
.c-heading-page__single {
	font-size: 32/16+rem;
	font-weight: 700;
	letter-spacing: 0.08em;
	@include config.pc {
		font-size: 53/16+rem;
	}
}
.c-heading-page {}
.c-heading-page--wh {
	color: #fff;
	.c-heading-page__title {
		color: #fff;
	}
}
.c-heading-page__title {
	@extend .c-heading-section__title;
	font-size: 13/16+rem;
	color: var(--color);
	@include config.pc {
		font-size: 22/16+rem;
	}
}
.c-heading-page__en {
	@extend .c-heading-section__en;
	font-size: 50/16+rem;
	@include config.pc {
		font-size: 100/16+rem;
	}
}
.c-heading-section--sm {
	.c-heading-section__en {
		font-size: 36/16+rem;
		@include config.pc {
			font-size: 60/16+rem;
		}
	}
}
.c-heading-section--center {
	text-align: center;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-text {
	font-size: 20/16+rem;
	font-weight: 700;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 32/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-text-sm {
	font-size: 19/16+rem;
	font-weight: 700;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 26/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-label {
	display: inline-flex;
	padding: 3/16+rem 12/16+rem 4/16+rem 12/16+rem;
	justify-content: center;
	align-items: center;

	border-radius: 100/16+rem;
	border: var(--border);

	color: #FFF;
	font-size: 14/16+rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	@include config.pc {
		padding: 4/16+rem 20/16+rem 5/16+rem 20/16+rem;
		font-size: 18/16+rem;
	}
}
.c-heading-label--sm {
	padding: 3/16+rem 10/16+rem;
	font-family: var(--Outfit);
	font-size: 12/16+rem;
	@include config.pc {
		padding: 3/16+rem 15/16+rem 4/16+rem 15/16+rem;
		font-size: 13/16+rem;
	}
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/