@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
.l-header {
	position: fixed;
	top: 15/16+rem;
	left: 24/16+rem;
	right: 24/16+rem;
	z-index: 500;
	display: flex;
	align-items: center;
	height: 55/16+rem;
	transition: .1s var(--easeTheme);
	.is-footer-view & {
		opacity: 0;
		pointer-events: none;
	}
	@include config.pc {
		top: 58/16+rem;
		left: 60/16+rem;
		right: 60/16+rem;
		transition: .3s var(--easeTheme);
		transform: translateY(0);
		.is-scrolled.scrollDown & {
			transform: translateY(calc(-1 * var(--header-height)));
		}
	}
}
.l-header-logo {
	position: relative;
	z-index: 5;
	margin-right: auto;
	img {
		width: 95/16+rem;
	}
	img:nth-child(2) {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		pointer-events: none;
	}
	.is-header-dark & {
		img:nth-child(1) {
			opacity: 0;
		}
		img:nth-child(2) {
			opacity: 1;
		}
	}
	@include config.pc {
		img {
			width: 140/16+rem;
		}
	}
}
.l-header-nav {
	display: none;
	@include config.pc {
		display: block;
	}
}
.l-header-menu {
	z-index: 5;
	@include config.pc {
		display: none;
	}
}
