@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	cm-post
----------------------------------------------------*/
body figure {
	margin-bottom: 0;
}
.cm-post {
	--gap-post: #{40/16+rem};

	display: flex;
	flex-direction: column;
	gap: var(--gap-post);

	font-size: 13/16+rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.85;
	letter-spacing: 0.06em;
	word-break: break-all;

	@include config.pc {
		font-size: 16/16+rem;
		line-height: 2;
	}
	> h1,
	> h2 {
		position: relative;
		padding-left: 16/16+rem;
		font-size: 20/16+rem;
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.06em;
		&:before {
			content: '';
			display: block;
			width: 4/16+rem;
			height: calc(100% - 0.2em);
			position: absolute;
			left: 0;
			top: 0.1em;
			pointer-events: none;
			border-radius: 81.474/16+rem;
			border: var(--border);
			background: var(--sky, #5BBFE1);
		}
		&:not(:first-child) {
			margin-top: 60/16+rem;
		}
		@include config.pc {
			padding-left: 20/16+rem;
			font-size: 30/16+rem;
			&:before {
				width: 5/16+rem;
				height: 100%;
				top: 0;
			}
		}
		& + h3,
		& + h4, {
			&:not(:first-child) {
				margin-top: 0;
			}
		}
	}
	> h3,
	> h4 {
		font-size: 16/16+rem;
		font-weight: 700;
		letter-spacing: 0.06em;
		&:not(:first-child) {
			margin-top: 40/16+rem;
		}
		@include config.pc {
			font-size: 23/16+rem;
		}
	}
	h5 {
		font-weight: bold;
	}
	strong {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
	ul,ol {
		margin-left: 1.5em;
	}
	li {
		list-style: disc;
	}
	ol li {
		list-style: decimal;
	}
	table th {
		font-weight: bold;
	}
	table th,
	table td {
		padding: .5em .5em;
		border: var(--border);
	}
	a {
		color: var(--color-sky);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.editor-styles-wrapper.editor-styles-wrapper.editor-styles-wrapper,
.cm-post {
	// embed
	.wp-block-embed {
		.wp-element-caption {
		}
	}

	// gallery
	.wp-block-image.wp-block-image.wp-block-image {
		img {
		}
		figcaption {
		}
	}
	.wp-block-gallery.has-nested-images {
	}
	.wp-block-gallery {
		display: flex;
		.wp-block-image {}
		@include config.sp-tab {
			flex-direction: column;
		}
	}
	// table
	.wp-block-table {
	}
	// btn
	.wp-block-buttons {}
	.wp-block-button {
		.wp-block-button__link {}
	}
	//blockquote
	blockquote.wp-block-quote {
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
