@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.cm-block-filter {
	display: flex;
	flex-direction: column;
	gap: 10/16+rem 5/16+rem;
	@include config.pc {
		gap: 20/16+rem;
		flex-direction: row;
	}
}
.cm-block-filter__inputs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10/16+rem 5/16+rem;
	> div {
		min-width: 139/16+rem;
	}
	@include config.pc {
		gap: 15/16+rem;
		> div {
			min-width: 192/16+rem;
		}
	}
}
.cm-block-filter__action {
	width: 139/16+rem;
	@include config.pc {
		width: 128/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-block-student {
	display: grid;
	gap: 20/16+rem;
	@include config.pc {
		grid-template-areas:
			"head pic"
			"body pic"
		;
		grid-template-columns: 1fr 575/16+rem;
		grid-template-rows: auto auto;
		gap: 40/16+rem 60/16+rem;
	}
}
.cm-block-student__head {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include config.pc {
		grid-area: head;
		align-self: flex-end;
		padding-top: 40/16+rem;
	}
}
.cm-block-student__title {
	position: relative;
	text-align: center;
	font-size: 20/16+rem;
	font-weight: 700;
	line-height: 1.35;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 32/16+rem;
	}
}
.cm-block-student__label {
	position: absolute;
	top: -32/16+rem;
	left: calc(50% - #{100/16+rem});
	display: inline-flex;
	padding: 2/16+rem 15/16+rem;
	justify-content: center;
	align-items: center;
	gap: 10/16+rem;
	border-radius: 100/16+rem;
	border: var(--border);
	background: var(--orange, #EBBA5F);

	color: #FFF;
	font-family: var(--Outfit);
	font-size: 12/16+rem;
	font-weight: 500;
	letter-spacing: 0.06em;

	@include config.pc {
		left: -50/16+rem;
		padding: 3/16+rem 15/16+rem;
		font-size: 13/16+rem;
	}
}
.cm-block-student__pic {
	margin-top: 15/16+rem;
	img {
		border-radius: 10/16+rem;
	}
	@include config.pc {
		margin-top: 0;
		grid-area: pic;
	}
}
.cm-block-student__body {
	display: flex;
	flex-direction: column;
	gap: 10/16+rem;
	@include config.pc {
		grid-area: body;
	}
}
.cm-block-student__more {
	display: flex;
	align-items: center;
	gap: 16/16+rem;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 0;
		pointer-events: none;
		border-top: var(--border-dashed);
	}
	@include config.pc {}
}
.cm-block-student--02 {
	.cm-block-student__caption {
		position: absolute;
		top: -40/16+rem;
		right: -30/16+rem;
		width: 120/16+rem;
		svg {
		    width: 100%;
		    height: auto;
		}
		@include config.pc {
			width: 127/16+rem;
		}
	}
}
.cm-block-student--gakusapo {
	.cm-block-student__title {
		svg {
		    width: 126/16+rem;
		    height: auto;
		}
		@include config.pc {
			svg {
				width: 170/16+rem;
			}
		}
	}
	@include config.pc {
		grid-template-areas:
			"head"
			"body"
		;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		gap: 40/16+rem 60/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
