extends ../_default
block vars
    - var path = "../"
    - var title = "お問い合わせ"
    - var pageClass = "page-color dir-contact"

block content
    .p-contact
        section.cm-section-header
            .l-container
                .cm-section-header__wrap
                    .c-heading-page
                        h2.c-heading-page__title
                            | お問い合わせ
                        p.c-heading-page__en
                            | Contact
            ul.cm-section-header__bc
                li
                    a(href=path+"")
                        | Top
                li
                    span
                        | Contact

        .p-contact__wrap
            .l-container
                ul.p-contact__list
                    li
                        a(href="https://www.chintai.net/b2b/" target="_blank").c-btn-square
                            span.c-btn-square__txt
                                | 広告掲載に関するお問い合わせ
                            i.c-btn-square__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-external")
                    li
                        a(href="https://hgfb.f.msgs.jp/webapp/form/21119_hgfb_169/index.do" target="_blank").c-btn-square
                            span.c-btn-square__txt
                                | 各メディアサービスに
                                br
                                | 関するお問い合わせ
                            i.c-btn-square__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-external")
                    li
                        a(href="https://www.chintai.net/magazine/" target="_blank").c-btn-square
                            span.c-btn-square__txt
                                | 情報誌CHINTAIに
                                br
                                | 関するお問い合わせ
                            i.c-btn-square__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-external")
                    li
                        a(href="https://www.chintai.net/wonderful_owners/" target="_blank").c-btn-square
                            span.c-btn-square__txt
                                | Wonderful Ownersに
                                br
                                | 関するお問い合わせ
                            i.c-btn-square__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-external")
                    li
                        a(href="https://www.chintai.jp/recruit/entry/" target="_blank").c-btn-square
                            span.c-btn-square__txt
                                | 採用に関するお問い合わせ
                            i.c-btn-square__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-external")
                    li
                        a(href="https://hgfb.f.msgs.jp/webapp/form/21119_hgfb_154/index.do" target="_blank").c-btn-square
                            span.c-btn-square__txt
                                | 取材などに関するお問い合わせ
                            i.c-btn-square__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-external")
                    li
                        a(href="https://www.chintai.net/contact/" target="_blank").c-btn-square
                            span.c-btn-square__txt
                                | その他のお問い合わせ
                                br
                                | ご意見・ご感想
                            i.c-btn-square__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-external")
















