@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/

.p-media-chintiger {
	position: relative;
	padding: 60/16+rem 0 120/16+rem;
	@include config.pc {
		padding: 112/16+rem 0 220/16+rem;
	}
}
.p-media-chintiger__bg {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 620/16+rem;
	pointer-events: none;
	img {
		width: 100%;
	}
	@include config.pc {
		top: 500/16+rem;
	}
}
.p-media-chintiger__title {
	text-align: center;
	svg {
		width: 193.08/16+rem;
		height: auto;
	}
	@include config.pc {
		svg {
			width: 400/16+rem;
		}
	}
}
/*=== profile ===*/
.p-media-chintiger-profile {
	margin-top: 45/16+rem;
	padding: 0 24/16+rem;
	position: relative;
	@include config.pc {
		margin-top: 90/16+rem;
		padding: 0 84/16+rem 0 723/16+rem;
	}
}
.p-media-chintiger-profile__pic {
	position: relative;
	width: 246/16+rem;
	margin: 0 auto;
	@include config.pc {
		position: absolute;
		width: 427/16+rem;
		left: 166/16+rem;
	}
}
.p-media-chintiger-profile__picMain {
	margin-left: auto;
	width: 178/16+rem;
	@include config.pc {
		width: 345/16+rem;
	}
}
.p-media-chintiger-profile__picFukidashi {
	width: 112.171/16+rem;
	position: absolute;
	top: 72/16+rem;
	@include config.pc {
		width: 175/16+rem;
		top: 167/16+rem;
	}
}
.p-media-chintiger-profile__picMessage {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 120/16+rem;
	svg {
		width: 54/16+rem;
		height: auto;
		pointer-events: none;
	}
	svg:last-child {
		margin-top: -0.5em;
	}
	p {
		writing-mode: vertical-rl;
		display: flex;
		flex-direction: column;
		font-size: 10/16+rem;
		font-weight: 500;
		letter-spacing: 0.05em;
	}
	@include config.pc {
		top: 227/16+rem;
		svg {
			width: 80/16+rem;
		}
		p {
			font-size: 13/16+rem;
		}
	}
}
.p-media-chintiger-profile__data {
	padding-top: 30/16+rem;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0 15/16+rem;
	@include config.pc {
		padding-top: 52/16+rem;
		gap: 0 24/16+rem;

	}
}
.p-media-chintiger-profile__dataList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10/16+rem 0 5/16+rem 0;
	border-bottom: var(--border-dashed);
	border-color: rgba(56, 162, 239, 0.40);
	dt {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 16.024/16+rem;
		padding: 0 6.41/16+rem;
		border-radius: 64.098/16+rem;
		border: var(--border);
		border-color: #38A2EF;

		color: var(--blue, #38A2EF);
		font-size: 10/16+rem;
		font-weight: 500;
		letter-spacing: 0.06em;
	}
	dd {
		width: 100%;
		color: var(--blue, #38A2EF);
		text-align: center;
		font-size: 11/16+rem;
		font-weight: 500;
		letter-spacing: 0.06em;
		line-height: 1.75;
	}
	@include config.pc {
		flex-direction: row;
		align-items: center;
		gap: 20/16+rem;
		padding: 10/16+rem 0;
		dt {
			width: auto;
			min-width: 62/16+rem;
			height: 25/16+rem;
			font-size: 13/16+rem;
		}
		dd {
			flex: 1;
			font-size: 13/16+rem;
			text-align: left;
		}
	}
}
.p-media-chintiger-profile__dataPic {
	width: 74.997/16+rem;
	position: absolute;
	right: 0;
	bottom: -89/16+rem;
	@include config.pc {
		width: 84/16+rem;
		right: 49/16+rem;
		bottom: -100/16+rem;
	}
}
.p-media-chintiger-profile__blocks {
	margin-top: 100/16+rem;
	display: flex;
	flex-direction: column;
	gap: 25/16+rem;
	@include config.pc {
		gap: 45/16+rem;
	}
}
.p-media-chintiger-profile__block1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6/16+rem;
	padding-bottom: 25/16+rem;
	border-bottom: var(--border-dashed);
	@include config.pc {
		gap: 10/16+rem;
		padding-bottom: 45/16+rem;
	}
}
.p-media-chintiger-profile__block2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10/16+rem;
	padding-bottom: 25/16+rem;
	border-bottom: var(--border-dashed);
	@include config.pc {
		position: absolute;
		bottom: -70/16+rem;
		width: 500/16+rem;
		left: 166/16+rem;
		border-bottom: none;
		gap: 20/16+rem;
	}
}
.p-media-chintiger-profile__block2Wrap {
	display: flex;
	gap: 11/16+rem;
	@include config.pc {
		gap: 28/16+rem;
	}
}
.p-media-chintiger-profile__block2Pic {
	position: relative;
	margin-left: 25/16+rem;
	width: 122.001/16+rem;
	flex-shrink: 0;
	figcaption {
		position: absolute;
		top: 56/16+rem;
		width: 100%;
		height: 67.757/16+rem;
		padding-left: 10/16+rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 15/16+rem;
		font-weight: 700;
		letter-spacing: 0.06em;
	}
	@include config.pc {
		margin-left: 8/16+rem;
		width: 138/16+rem;
		figcaption {
			top: 62/16+rem;
			height: 76/16+rem;
			font-size: 18/16+rem;
		}
	}
}
.p-media-chintiger-profile__block2Text {
	flex: 1;
	width: 140/16+rem;
	padding-top: 30/16+rem;
	flex-shrink: 0;
	.swiper {
		width: 100%;
	}
	.swiper-slide {
		//display: flex;
		//flex-direction: column;
		//align-items: flex-start;
		//gap: 5/16+rem;
	}
	p {
		font-size: 12/16+rem;
		font-weight: 400;
		letter-spacing: 0.06em;
		//background: #fff;
		//line-height: ;
		//background: linear-gradient( transparent 20%, #fff 20%, #fff 80%, transparent 80% );
		> span {
			padding: 0 5/16+rem;
			line-height: 2;
			background: linear-gradient(transparent 0%, #fff 0%, #fff 100%, transparent 100%);
			box-decoration-break: clone;
			-webkit-box-decoration-break: clone;
		}
	}
	@include config.pc {
		padding-top: 40/16+rem;
		width: 334/16+rem;
		p {
			font-size: 16/16+rem;
		}
	}
}
.p-media-chintiger-profile__block3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6/16+rem;
	@include config.pc {
		gap: 10/16+rem;
	}
}
/*=== detail ===*/
.p-media-chintiger-detail {
	margin-top: 80/16+rem;
	padding: 0 24/16+rem;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 60/16+rem;
	@include config.pc {
		margin-top: 185/16+rem;
		padding: 0 60/16+rem;
		flex-direction: row;
	}
}
.p-media-chintiger-detail-block {
	display: flex;
	flex-direction: column;
	gap: 20/16+rem;
	flex: 1;
	@include config.pc {
		gap: 30/16+rem;
	}
}
.p-media-chintiger-detail-block__head {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10/16+rem;
	svg {
		width: auto;
		height: 70/16+rem;
	}
	@include config.pc {
		gap: 15/16+rem;
		svg {
			height: 80/16+rem;
		}
	}
}
.p-media-chintiger-detail-block__title {
	display: flex;
	flex-direction: column;
	font-size: 17/16+rem;
	font-weight: 700;
	line-height: 1.35;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 21/16+rem;
	}
}
/*=== sns ===*/
.p-media-chintiger-sns {
	position: relative;
	margin: 100/16+rem 24/16+rem 0;
	border-bottom: var(--border-dashed);
	@include config.pc {
		margin: 160/16+rem auto 0;
		width: 984/16+rem;
	}
}
.p-media-chintiger-sns__title {
	display: flex;
	align-items: center;
	gap: 16/16+rem;
	&:before,
	&:after, {
		content: '';
		display: block;
		width: 100%;
		height: 0;
		pointer-events: none;
		border-top: var(--border-dashed);
	}
	span {
		font-family: var(--Outfit);
		font-size: 28/16+rem;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.06em;
		text-transform: capitalize;
		white-space: nowrap;
	}
	@include config.pc {
		span {
			font-size: 42/16+rem;
		}
	}
}
.p-media-chintiger__wrap {
	display: flex;
	flex-direction: column;
	a {
		display: inline-flex;
		align-items: center;
		gap: 5/16+rem;
		svg {
			width: 12/16+rem;
			height: auto;
			stroke: var(--color);
			fill: var(--color);
		}
	}
	@include config.pc {
		flex-direction: row;
	}
}
.p-media-chintiger-sns-line {
	position: relative;
	flex: 1;
	padding: 26/16+rem 0 30/16+rem 45/16+rem;
	a {
		font-family: var(--Outfit);
		font-size: 17/16+rem;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.06em;
	}
	._chintiger {
		width: 80/16+rem;
		position: absolute;
		right: 4/16+rem;
		bottom: 4/16+rem;
	}
	@include config.pc {
		padding: 68/16+rem 144/16+rem 40/16+rem 88/16+rem;
		a {
			font-size: 30/16+rem;
		}
		._chintiger {
			width: 130/16+rem;
			right: 50/16+rem;
			bottom: 0;
		}
	}
}
.p-media-chintiger-sns-story {
	position: relative;
	flex: 1;
	padding: 30/16+rem 120/16+rem 30/16+rem 45/16+rem;
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 8/16+rem 20/16+rem;
	}
	a {
		font-family: var(--Outfit);
		font-size: 14/16+rem;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.06em;
	}
	._chintiger {
		width: 62/16+rem;
		position: absolute;
		right: 11/16+rem;
		bottom: -6/16+rem;
	}
	@include config.sp-tab {
		border-top: var(--border-dashed);
	}
	@include config.pc {
		padding: 40/16+rem 160/16+rem 60/16+rem 72/16+rem;
		ul {
			gap: 34/16+rem 52/16+rem;
		}
		a {
			font-size: 23/16+rem;
		}
		._chintiger {
			width: 104.996/16+rem;
			right: 50/16+rem;
			bottom: -50/16+rem;
		}
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 110/16+rem;
			position: absolute;
			left: 0;
			top: calc(50% - #{55/16+rem});
			pointer-events: none;
			border-left: var(--border-dashed);
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
