@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-media-advertising {
	position: relative;
	padding: 62/16+rem 24/16+rem 120/16+rem;
	@include config.pc {
		padding: 120/16+rem 120/16+rem 220/16+rem;
	}
}
.p-media-advertising-block {
	&:not(:first-child) {
		margin-top: var(--padding-section);
	}
}
.p-media-advertising-block__head {
	display: flex;
	flex-direction: column;
	gap: 40/16+rem;
	text-align: center;
	@include config.pc {
		small {
			font-size: 13/16+rem;
		}
	}
}
.p-media-advertising-block__body {
	margin-top: var(--padding-block-md);
	display: grid;
	gap: 40/16+rem;
	@include config.pc {
		gap: 60/16+rem 24/16+rem;
		grid-template-columns: 1fr 1fr 1fr ;
	}
}
.p-media-advertising-block-item {
	display: flex;
	flex-direction: column;
	gap: 20/16+rem;
	@include config.pc {
		gap: 24/16+rem;
	}
}
.p-media-advertising-block-item__pic {
	position: relative;
	border-radius: 10/16+rem;
	background: linear-gradient(123deg, rgba(12, 106, 224, 0.00) 48.89%, rgba(9, 94, 213, 0.20) 65.46%), #38A2EF;
	aspect-ratio: 172/97;
	width: 100%;
	@include config.tab {
		max-width: 480/16+rem;
		margin-inline: auto;
	}
	@include config.pc {}
}
.p-media-advertising-block-item__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	svg {
	    width: 36/16+rem;
	    height: auto;
	}
	svg:nth-child(2) {
		position: absolute;
		opacity: 0;
	}
	&.is-playing {
		svg:nth-child(1) {
			opacity: 0;
		}
		svg:nth-child(2) {
			opacity: 1;
		}
	}
	@include config.pc {
		svg {
			width: 44/16+rem;
			height: auto;
		}
	}
}
.p-media-advertising-block-item__content {
	@include config.pc {}
}
.p-media-advertising-block-item__meta {
	display: flex;
	align-items: center;
	gap: 10/16+rem;
	@include config.pc {}
}
.p-media-advertising-block-item__label {
	display: flex;
	padding: 0 10/16+rem;
	justify-content: center;
	align-items: center;
	gap: 10/16+rem;
	height: 21/16+rem;
	color: var(--blue, #38A2EF);
	font-family: var(--Outfit);
	font-size: 12/16+rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	border: var(--border-sky);
	border-radius: 100/16+rem;
	@include config.pc {
		height: 25/16+rem;
		font-size: 14/16+rem;
	}
}
.p-media-advertising-block-item__season {
	font-family: var(--Outfit);
	font-size: 12/16+rem;
	font-weight: 600;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 15/16+rem;
	}
}
.p-media-advertising-block-item__title {
	margin-top: 5/16+rem;
	text-align: left;
	font-family: var(--Outfit);
	font-size: 20/16+rem;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 23/16+rem;
	}
}
.p-media-advertising-block-item__more {
	margin-top: 10/16+rem;
	font-size: 13/16+rem;
	font-weight: 700;
	letter-spacing: 0.06em;
	@include config.pc {
		margin-top: 15/16+rem;
		font-size: 15/16+rem;
	}
}
.p-media-advertising-block--ad {
	.p-media-advertising-block-item__title {
		font-size: 14/16+rem;
		@include config.pc {
			font-size: 18/16+rem;
		}
	}
	.p-media-advertising-block__body {
		grid-template-columns: 1fr 1fr;
		gap: 30/16+rem 15/16+rem;
		@include config.pc {
			gap: 60/16+rem 24/16+rem;
			grid-template-columns: 1fr 1fr 1fr ;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
