@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-service {
	padding-bottom: var(--padding-section);
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.p-service-business {
	position: relative;
	overflow: hidden;
	border-radius: 20/16+rem 20/16+rem 0 0;
	padding: var(--padding-section) 0;
	background: #fff;
	@include config.pc {}
}
.p-service-business__wrap {
	display: flex;
	flex-direction: column;
	@include config.pc {
		flex-direction: row;
	}
}
.p-service-business__content {
	display: flex;
	flex-direction: column;
	gap: 40/16+rem;
	flex: 1;
	@include config.pc {
		position: relative;
		gap: 60/16+rem;
		margin-right: -100/16+rem;
	}
}
.p-service-business__figure {
	margin: 20/16+rem -65/16+rem 0;
	@include config.tab {
		max-width: 580/16+rem;
		margin-inline: auto;
	}
	@include config.pc {
		margin: -80/16+rem -20/16+rem 0 0;
		width: 910/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.p-service-list {
	position: relative;
	margin-top: -20/16+rem;
	border-radius: 20/16+rem 20/16+rem 0 0;
	padding: var(--padding-section) 0;
	background: var(--color-light);
	@include config.pc {}
}
.p-service-list__wrap {
	display: flex;
	flex-direction: column;
	@include config.pc {
		flex-direction: row;
		gap: 68/16+rem;
	}
}
.p-service-list__aside {
	.cm-nav-aside {
		position: sticky;
		top: calc(var(--header-height) + #{60/16+rem});
	}
	@include config.sp-tab {
		display: none;
	}
	@include config.pc {
		width: 209/16+rem;
		padding-top: 40/16+rem;
	}
}
.p-service-list__content {
	display: flex;
	flex-direction: column;
	gap: 120/16+rem;
	@include config.pc {
		gap: 180/16+rem;
		flex: 1;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-service-list-section {
	@include config.pc {}
}
.p-service-list-section__head {
	position: relative;
	@include config.pc {
		display: flex;
	}
}
.p-service-list-section__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25/16+rem;
	font-weight: 700;
	letter-spacing: 0.06em;
	@include config.pc {
		gap: 4/16+rem;
		font-size: 35/16+rem;
		width: 380/16+rem;
		margin-left: -52/16+rem;
	}
}
.p-service-list-section__body {
	margin-top: 46/16+rem;
	display: flex;
	flex-direction: column;
	gap: 80/16+rem;
	@include config.pc {
		gap: 65/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.p-service-list-item {
	display: flex;
	flex-direction: column;
	@include config.pc {
		flex-direction: row;
		align-items: center;
		gap: 40/16+rem;
	}
}
.p-service-list-item__pic {
	margin-bottom: 20/16+rem;
	text-align: center;
	img {
		width: 187/16+rem;
	}
	@include config.pc {
		margin-bottom: 0;
		width: 276/16+rem;
		img {
			width: 100%;
		}
	}
}
.p-service-list-item__wrap {
	display: grid;
	grid-template-areas:
		"title category"
		"desc desc"
		"more more"
	;
	gap: 10/16+rem 10/16+rem;
	grid-template-columns: 1fr auto;
	@include config.pc {
		flex: 1;
	}
}
.p-service-list-item__title {
	grid-area: title;

	font-family: var(--Outfit);
	font-size: 20/16+rem;
	font-weight: 700;
	letter-spacing: 0.06em;
	text-align: left;
	@include config.sp {
		.p-service-list-item--student & {
			font-size: 18/16+rem;
		}
	}
	@include config.pc {
		font-size: 28/16+rem;
	}
}
.p-service-list-item__category {
	grid-area: category;
	align-self: flex-end;
	display: flex;
	justify-content: flex-end;
	gap: 5/16+rem;
	padding-bottom: 6/16+rem;
	li {
		display: flex;
		padding: 0 8/16+rem 1/16+rem 8/16+rem;
		justify-content: center;
		align-items: center;
		gap: 10/16+rem;
		border-radius: 100/16+rem;
		border: 1/16+rem solid var(--blue, #38A2EF);

		color: var(--blue, #38A2EF);
		font-size: 11/16+rem;
		font-weight: 500;
		letter-spacing: 0.06em;
	}
	@include config.pc {
		padding-bottom: 12/16+rem;
		li {
			padding: 0 10/16+rem 1/16+rem 10/16+rem;
			font-size: 13/16+rem;
		}
	}
}
.p-service-list-item__desc {
	margin-top: 8/16+rem;
	grid-area: desc;
	@extend .c-paragraph;
	@include config.pc {}
}
.p-service-list-item__more {
	grid-area: more;
	display: flex;
	align-items: center;
	gap: 16/16+rem;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 0;
		pointer-events: none;
		border-top: var(--border-dashed);
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
