@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-top {
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-mv {
	@include config.pc {}
}
.p-top-mv__wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 600/16+rem;
	height: 100vh;
	@include config.pc {}
}
.p-top-mv__video {
	position: fixed;
	z-index: -1;
	inset: 10/16+rem 10/16+rem 10/16+rem;
	object-fit: cover;
	border-radius: 10/16+rem;
	overflow: hidden;
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background: #000;
	}
	clip-path: inset(50% round #{10/16+rem});
	.loadedLower & {
		will-change: clipPath;
		transition: 1.6s var(--easeOutQuart);
		clip-path: inset(0% round #{10/16+rem});
	}
	@include config.pc {
		inset: 20/16+rem 20/16+rem 20/16+rem;
	}
}
.p-top-mv__logo {
	z-index: 5;
	img,
	svg {
		width: 200/16+rem;
		height: auto;
	}
	opacity: 0;
	.loadedLower & {
		opacity: 1;
		transition: 0.6s var(--easeTheme);
		transition-delay: 1.0s;
	}
	@include config.pc {
		img,
		svg {
			width: 416/16+rem;
		}
	}
}
.p-top-mv__scroll {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6/16+rem;
	position: absolute;
	right: 30/16+rem;
	bottom: 24/16+rem;
	text-align: center;
	color: #fff;
	font-size: 17/16+rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	opacity: 0;
	.loadedLower & {
		opacity: 1;
		transition: 0.6s var(--easeTheme);
		transition-delay: 1.0s;
	}
	p {
		display: inline-flex;
		span {
			animation: topMvScrollText 2.5s var(--easeOutBack) infinite;
		}
		span:nth-child(2) {
			animation-delay: 0.4s;
		}
		span:nth-child(3) {
			animation-delay: 0.8s;
		}
	}
	svg {
	    width: 16/16+rem;
	    height: auto;
	}
	@include config.pc {
		gap: 10/16+rem;
		right: 60/16+rem;
		bottom: 40/16+rem;
	}
}
@keyframes topMvScrollText {
	0% {
		transform: translateY(0%);
	}
	15% {
		transform: translateY(-30%);
	}
	25% {
		transform: translateY(0%);
	}


}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-message {
	position: relative;
	padding: var(--padding-section) 0;
	background: #fff;
	@include config.pc {}
}
.p-top-message__wrap {
	@include config.pc {
		width: 898/16+rem;
		margin-inline: auto;
	}
}
.p-top-message__text {
	text-align: left;
	font-size: 17/16+rem;
	font-weight: 500;
	line-height: 2.2;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 23/16+rem;
		line-height: 2.4;
		letter-spacing: 0.05em;
	}
}
.p-top-message__more {
	margin-top: var(--padding-block-lg);
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-service {
	position: relative;
	padding: var(--padding-section) 0;
	background: #fff;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		background: #EEF7FB;
		border-radius: 20/16+rem;
	}
	@include config.pc {}
}
.p-top-service__wrap {
	position: relative;
	@include config.pc {}
}
.p-top-service__head {
	display: flex;
	flex-direction: column;
	gap: var(--padding-block);
	@include config.pc {
		width: 501/16+rem;
	}
}
.p-top-service__items {
	margin-top: var(--padding-block-lg);
	padding: 0 28/16+rem;
	display: flex;
	flex-direction: column;
	gap: 40/16+rem;
	@include config.tab {
		max-width: 480/16+rem;
		margin-inline: auto;
	}
	@include config.pc {
		padding: 0;
		flex-direction: row;
		gap: 48/16+rem;
	}
}
.p-top-service-item {
	position: relative;
	@include config.sp-tab {
		&:not(:first-child) {
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 0;
				position: absolute;
				left: 0;
				top: -20/16+rem;
				pointer-events: none;
				border-top: var(--border-dashed);
			}
		}
	}
	@include config.pc {
		&:not(:first-child) {
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 238/16+rem;
				position: absolute;
				left: -24/16+rem;
				top: 0;
				pointer-events: none;
				border-left: var(--border-dashed);
			}
		}
	}
}
.p-top-service-item__link {
	position: relative;
	display: flex;
	flex-direction: column;
	transition: var(--duration-l) var(--easeOutQuart);
	will-change: transform;
	a:hover &,
	&:hover {
		transform: scale(0.95);
	}
	@include config.pc {}
}
.p-top-service-item__pic {
	img {
		border-radius: 10/16+rem;
	}
	@include config.pc {}
}
.p-top-service-item__head {
	position: absolute;
	@include config.pc {}
}
.p-top-service-item__label {
	position: absolute;
	width: 52/16+rem;
	left: -10/16+rem;
	top: -18/16+rem;
	svg {
	    width: 100%;
	    height: auto;
		path {
			fill: var(--color);
		}
		path:nth-child(2) {
			fill: var(--color);
		}
	}
	@include config.pc {}
}
.p-top-service-item__title {
	display: inline-flex;
	padding: 5/16+rem 20/16+rem;
	height: 38/16+rem;
	justify-content: center;
	align-items: center;
	gap: 10/16+rem;
	border-radius: 100/16+rem;
	border: var(--border);
	background: var(--orange, #EBBA5F);

	font-size: 16/16+rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	color: #fff;
	@include config.pc {
		height: 42/16+rem;
		font-size: 18/16+rem;
	}
}
.p-top-service__more {
	margin-top: var(--padding-block-lg);
	text-align: center;
}
.p-top-service-item:nth-child(1) {
	.p-top-service-item__head {
		left: -22/16+rem;
		bottom: 20/16+rem;
		@include config.pc {
			left: -13/16+rem;
			bottom: 73/16+rem;
		}
	}
}
.p-top-service-item:nth-child(2) {
	.p-top-service-item__label {
		@include config.sp-tab {}
	}
	.p-top-service-item__head {
		right: -28/16+rem;
		bottom: 20/16+rem;
		@include config.pc {
			right: auto;
			left: -9/16+rem;
			bottom: 49/16+rem;
		}
	}
}
.p-top-service-item:nth-child(3) {
	.p-top-service-item__head {
		left: -20/16+rem;
		bottom: 22/16+rem;
		@include config.pc {
			left: -12/16+rem;
			bottom: 75/16+rem;
		}
	}
}
.p-top-service-item:nth-child(4) {
	.p-top-service-item__label {
		@include config.sp-tab {
		}
	}
	.p-top-service-item__head {
		right: -29/16+rem;
		bottom: 23/16+rem;
		@include config.pc {
			right: auto;
			left: -16/16+rem;
			bottom: 45/16+rem;
		}
	}
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.p-top-initiatives {
	margin-top: 100vh;
	position: relative;
	padding: var(--padding-section) 0;
	background: #fff;
	@include config.pc {}
}
.p-top-initiatives__wrap {
	@include config.pc {}
}
.p-top-initiatives__head {
	display: flex;
	flex-direction: column;
	gap: var(--padding-block);
	@include config.pc {
		width: 586/16+rem;
	}
}
.p-top-initiatives__items {
	margin-top: 30/16+rem;
	padding: 0 22/16+rem;
	display: flex;
	flex-direction: column;
	gap: 40/16+rem;
	@include config.tab {
		max-width: 480/16+rem;
		margin-inline: auto;
	}
	@include config.pc {
		margin-top: 0;
		padding: 0;
		flex-direction: row;
		gap: 84/16+rem;
	}
}
.p-top-initiatives-item {
	position: relative;
	flex: 1;
	@include config.pc {

	}
}
.p-top-initiatives-item__link {
	display: flex;
	flex-direction: column;
	@include config.pc {}
}

.p-top-initiatives-item__wrap {
	position: relative;
	@include config.pc {
		.p-top-initiatives-item:not(:first-child) & {
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 100%;
				position: absolute;
				left: -44/16+rem;
				top: 0;
				pointer-events: none;
				border-left: var(--border-dashed);
			}
		}
	}
}
.p-top-initiatives-item__head {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2/16+rem;
	@include config.pc {
		gap: 5/16+rem;
	}
}
.p-top-initiatives-item__label {
	font-family: var(--Outfit);
	font-size: 12/16+rem;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: 0.06em;
	@include config.pc {
		font-size: 13/16+rem;
	}
}
.p-top-initiatives-item__title {
	padding: 2/16+rem 15/16+rem;
	height: 37/16+rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10/16+rem;

	border-radius: 100/16+rem;
	border: var(--border);

	color: #FFF;
	font-size: 18/16+rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	@include config.pc {
		padding: 5/16+rem 20/16+rem;
		height: 42/16+rem;
		font-size: 21/16+rem;
	}
}
.p-top-initiatives-item__ico {
	position: absolute;
	right: 0;
	bottom: 0;
	@extend .c-btn-circle;
	@include config.pc {}
}
.p-top-initiatives-item__desc {
	margin-top: 20/16+rem;
	font-size: 13/16+rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	@include config.pc {
		margin-top: 25/16+rem;
		font-size: 16/16+rem;
		letter-spacing: 0.12em;
	}
}
.p-top-initiatives__more {
	margin-top: var(--padding-block-lg);
	text-align: center;
	@include config.pc {}
}
.p-top-initiatives-item__pic {
	margin: 0 auto -50/16+rem auto;
	text-align: center;
	img {
		height: 220/16+rem;
	}
	@include config.pc {
		margin: -40/16+rem 0 -50/16+rem 0;
		opacity: 0;
		transition: opacity var(--duration-s) var(--easeTheme), transform var(--duration) var(--easeOutBack);
		transform: scale(0.9);
		a:hover & {
			opacity: 1;
			transform: scale(1);
		}
		img {
			height: 250/16+rem;
		}
	}
}
.p-top-initiatives-item--society {
	.p-top-initiatives-item__pic {
		//width: 249/16+rem;
		margin-top: -40/16+rem;
		img {
			height: 250/16+rem;
		}
		@include config.pc {
			margin: -65/16+rem 0 -75/16+rem 0;
			img {
				height: 300/16+rem;
			}
		}
	}
}
.p-top-initiatives-item--student {
	.p-top-initiatives-item__pic {
		//width: 228/16+rem;
		@include config.sp-tab {
			margin-left: 30/16+rem;
			margin-top: -10/16+rem;
		}
		@include config.pc {}
	}
}
.p-top-initiatives-item--media {
	.p-top-initiatives-item__pic {
		//width: 208/16+rem;
		@include config.pc {
			margin: -90/16+rem -20/16+rem -100/16+rem 0;
			img {
				height: 350/16+rem;
			}
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.p-top-news {
	position: relative;
	padding: var(--padding-section) 0;
	background: #fff;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		background: #EEF7FB;
		border-radius: 20/16+rem;
	}
	@include config.pc {}
}
.p-top-news__wrap {
	position: relative;
	display: grid;
	gap: 20/16+rem;
	@include config.pc {
		gap: 0;
		grid-template-areas:
			"head list"
			"more list"
		;
		grid-template-rows: 1fr auto;
		grid-template-columns: 282/16+rem 1fr;
	}
}
.p-top-news__head {
	@include config.pc {
		grid-area: head;
	}
}
.p-top-news__list {
	@include config.pc {
		grid-area: list;
		margin-top: -24/16+rem;
	}
}
.p-top-news__more {
	margin-top: 14/16+rem;
	@include config.sp-tab {
		text-align: right;
	}
	@include config.pc {
		grid-area: more;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-cta {
	position: relative;
	padding: var(--padding-section) 0;
	background: #fff;
	@include config.pc {}
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
